:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F9FDFD;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  overscroll-behavior: contain;
}

p {
  position: absolute;
  bottom: 5em;
  color: gray;

  a {
    color: deepskyblue!important;
  }
}

h4 {
  position: absolute;
  top: 3em;
  font-size: 2em;
}

.demo {
  margin-bottom: 10em;
}

.toggle-demo {
  a {
    display: block;
    margin-top: 1em;
  }
}
